body{
    padding:0;
    margin:0;
    width: 100%;
}
#header{
    width: 100%;
    height: 20%;
  background-color: rgb(218, 227, 234);

 


}

#menu-admin {
    float: left;
    width: 100%;
    height: 60px;
    background-color: rgb(198, 193, 193);

}

#menu-admin ul {
    float: left;
    width: 100%;
    height: 100%;
margin-top: 0.5px;
padding: 0;
  font-size: 25px;
  color: #810303;
  

}
#menu-admin li{
    height: 100%;
    width: 19.999%;
    float: left;
text-indent: 100px;
align-items: center;
display: flex;
}
#menu-admin ul :hover{
    background-color: #6d6868;
}


#SANPHAM-ADMIN{
    width: 100%;
    height: 100%;
    float: left;
}
.menu-sanpham{
    
}



table {
    border-collapse: collapse; /* Để loại bỏ khoảng trống giữa các đường viền */
    width: 100%;
  }

  th, td {
    border: 1px solid black; /* Thiết lập đường viền 1px đen cho các ô và ô tiêu đề */
    padding: 8px;
    text-align: center;
  }



/* 
.menu-sanpham ul{
float: left;
height: 100%;
width: 100%;
padding: 0;
}
.menu-sanpham li{
float: left;
height: 100%;
    width: 12.13%;
    float: left;
text-indent: 40px;
align-items: center;
display: flex;
font-size: 20px;

} */


#tieude{
    text-align: center;

}




#main{
    width: 100%;
    height: 60%;
    float: left;
    padding:0;
    margin:0;

}
#footer{
    width: 100%;
    height: 5%;
   

}